/**
 * All of the CSS 
 */
 .flora-settings {
    background-color: white;
    padding: 2px 5px 0px 10px;
    width: 95%;
    margin-bottom: 20px;
}

.flora-field {
    width: 75%;
}

.flora-settings > h2 {

    font-size: 25px;

}

.flora-set-header {

    font-size: 25px;

}
.flora-blank-slate {
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    margin-right: 8px !important;
    margin-left: 0px !important;
    padding: .75em 1.5em !important;
    line-height: 26px !important;
    height: auto !important;
}